<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/admin.css" rel="stylesheet" type="text/css"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Manager Page</title>
  </head>
<body>
  <!--------- header with logo and user login status-------->
 <!--------- header with logo and user login status-------->
   <div class = "head-line">
      <a class="link-home" href="/manage">
        <img class="logo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2Fdining_icon-01.png?v=1575671513396"/>
      </a>
      
      <% if (curUser) {%>
          <a href="/logout">
            <img class="userLogo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2F825104_arrows_512x512.png?v=1575876750895"/>
            </a>
      <%} else {%>
        <a class="link-login" href="https://final-pro-yay76-feq6.glitch.me/login">
          <img class="userLogo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2Fperson-male.png?v=1575684362494"/>
        </a >
      <%}%>
  </div> 
  <div class="banner">
    <div class = "banner-img">
      <div class = "banner-text">
          <h1>Hi <%= name %></h1>
          <h2> Email: <%= email %> </h2>
      </div>
      <div class="navi">
        <a href="/manage">Manage Restaurants</a>
        <a class="active" href="/manage/orders">Manage Orders</a>
      </div>    
    </div>
  </div>
  <div class = "search-form">
    <form action ='/manage/orders' method='get'>
      <input
          type="text"
          name="orderNum"
          style={{ flex: "10", padding: "5px", border: "1px solid line" }}
          placeholder="Find your Order Number"
      />
      <button
        type="submit"
        id="search"
      >Search</button>
    </form>
  </div>
  
  
  <!-----------------------Navigation Portal----------------------------->
  <div class="navi">
   
  </div>

  <div class="item-admin"> 
    <table class=orderview>
      <th>Orde ID</th>
      <th>Order Number</th>
      <th>Date Placed</th>
      <th>User</th>
      <th>Restaurant</th>
    <% orders.forEach(item=>{%>
      <tr>
       <td><%= item._id%></td>
      <td><%= item.orderNum%></td>
        <td><%= item.date%></td>
      <td><%= item.userID._id%><br><%= item.userID.fname%>&nbsp<%= item.userID.lname%></td>
      <td><%= item.restID._id%><br><%= item.restID.name%>, &nbsp<%= item.restID.city%></td>
         </tr>
    </div>
    <% }) %>
      </table>
  </div>


</body>
</html>