<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/admin.css" rel="stylesheet" type="text/css"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Manager Page</title>
  </head>
<body>
  <!--------- header with logo and user login status-------->
 <div class = "head-line">
      <a class="link-home" href="/manage">
        <img class="logo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2Fdining_icon-01.png?v=1575671513396"/>
      </a>
      
      <% if (curUser) {%>
          <a href="/logout">
            <img class="userLogo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2F825104_arrows_512x512.png?v=1575876750895"/>
            </a>
      <%} else {%>
        <a class="link-login" href="https://final-pro-yay76-feq6.glitch.me/login">
          <img class="userLogo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2Fperson-male.png?v=1575684362494"/>
        </a >
      <%}%>
  </div> 
  <!-----------------------Navigation Portal----------------------------->
  <div class="banner">
    <div class = "banner-img">
      <div class = "banner-text">
          <h1>Hi <%= name %></h1>
          <h2> Email: <%= email %> </h2>
      </div>
      <div class="navi">
        <a class="active" href="/manage">Manage Restaurants</a>
        <a href="/manage/orders">Manage Orders</a>
      </div>    
    </div>
  </div>
  <!-----------------------Search bar----------------------------->
  <div class = "search-form">
    <form action = '/manage' method='get'>
      <input
          type="text"
          name="restname"
          placeholder="Search By Restaurant Name"
          value = <%= query %>
      />
      <button type="submit" id="search">Search</button>
      <a class="createNew" href="/manage/newrest">
        <img src="https://cdn3.iconfinder.com/data/icons/restaurant-3-3-1/300/tool-add-food-meal-drink-512.png"/>
      </a>
    </form>
    
  </div>
  <!-----------------------Operation buttons----------------------------->
<!--   <div class="operTools">
    <a class="createNew" href="#test">
      <img src="https://cdn3.iconfinder.com/data/icons/restaurant-3-3-1/300/tool-add-food-meal-drink-512.png"/>
    </a>
    <span><a class="sort" href="#test"> Sort By Price Level </a></span>
  </div> -->
  
  
  <!-----------------------Navigation Portal----------------------------->

  <div class="item-admin">
    <% restaurants.forEach(item=>{%>
    <div class="item">
      <img src = <%= item.img%>>
      <div class="itemdetail">
  
        <p>Name: <%= item.name%></p>
        <p>Open Days: <%= item.opendays%></p>
        <p>Location: <%=item.address%>, <%=item.city%>, <%=item.zip%></p>
        <p>Contact: <%=item.contact%>
        <p>Price: <%= item.price%></p>
        <a href = "/manage/editrest"> Edit </a>
        <span><a href = "/manage/delrest?restID=<%= item._id%>">Delete</a></span>
      </div>
    </div>
    <% }) %>
  </div>


</body>
</html>