<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>profile</title>
    <link href="/index.css" rel="stylesheet" type="text/css"/>
    <link href="/profile.css" rel="stylesheet" type="text/css"/>
  </head>
<body>
  <!--------- header with logo and user login status-------->
    <div class = "head-line">
      <a class="link-home" href="https:/">
        <img class="logo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2Fdining_icon-01.png?v=1575671513396"/>
      </a>
      
      <% if (curUser) {%>
        <%if (curUserRole == "client"){%>
          <a href="/logout">
            <img class="userLogo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2Ffree-exit-logout-icon-2857-thumb.png?v=1575877712357"/>
          </a>
        <%} else{%>
          <a class="loged-in" href="/manage">Hi,<%= curUserName%></a>
          <%}%>
      <%} else {%>
        <a class="link-login" href="/login">
          <img class="userLogo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2Freservation-icon-28.jpg?v=1575877205463"/>
        </a >
      <%}%>
    </div> 
  <!--------------  User's Portal   -------------------->
  <div class="side-navi">
    <h1> Hi <%=user%></h1>
    <h2> Email: <%=email%> </h2>
  </div>
  <div class="cur-order">
    <h2>
      My Orders:
    </h2>
      <div>
    <% orders.forEach(item=>{%>
      <div class="item">
        <div class="itemdetail">
          <img src= <%= item.restID.img%>>
          <p>Name: <%= item.restID.name%></p>
          <p>Location: <%=item.restID.address%>, <%=item.restID.city%>, <%=item.restID.zip%></p>
          <p>Contact: <%=item.restID.contact%></p>
          <p>Order Placed on: <%=item.date%></p>
          <p>Name On Reservation: <%=item.guestname%></p>
          <p>A total party of :<%=item.guest%></p>


        </div>

      </div>
      <% }) %>

    </div>
  </div>
  
</body>
</html> 

