<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet" type="text/css"/>
    <title>Hello, world!</title>
  </head>
<body>
<h2>
  <% rest.forEach(item=>{%>
    <div class="item">
      <div class="itemdetail">
        <p>Name: <%= item.name%></p>
        <p>Open Days: <%= item.opendays%></p>
        <p>Location: <%=item.city%>, <%=item.zip%></p>
        <p>Price: <%= item.price%></p>
        <p>Options: <% for (var i = 0; i < item.options.length; i++) { %>
            <li><%= item.options[i].table.time %>, <%= item.options[i].table.size %>
    </li>
    <% } %>
      </div>
      
      
      
    </div>
    <% }) %>
  

  
  
  
  
  </h2>
</body>
</html>