<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/admin.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    
<!--     <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script> -->
<!--     <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script> -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  </head>
  
  <body>
    <!--------- header with logo and user login status-------->
    <div class = "head-line">
      <a class="link-home" href="https://final-pro-yay76-feq6.glitch.me/">
        <img class="logo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2Fdining_icon-01.png?v=1575671513396"/>
      </a>
      
      <% if (curUser) {%>
        <%if (curUserRole== "client"){%>
          <a class="loged-in" href="/login/profile">Hi,<%= curUserName%></a> 
        <%} else{%>
          <a class="loged-in" href="/manage">Hi,<%= curUserName%></a>
          <%}%>
          <a href="/logout">
            <img class="userLogo" src="https://cdn2.iconfinder.com/data/icons/picons-essentials/57/logout-512.png"/>
          </a>
      <%} else {%>
        <a class="link-login" href="https://final-pro-yay76-feq6.glitch.me/login">
          <img class="userLogo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2Fperson-male.png?v=1575684362494"/>
        </a >
      <%}%>
    </div> 
    
   <h1>
     Almost done!
    </h1>
    <h2>
      Please review your order.
    </h2>

    <div class="item">
      <img src = <%= rest.img%>>
      <div class="itemdetail">
        <p>Name: <%= rest.name%></p>
        <p>Open Days: <%= rest.opendays%></p>
        <p>Location: <%=rest.address%>, <%=rest.city%>, <%=rest.zip%></p>
        <p>
          Contact:<%=rest.contact%>
        </p>
        <p>Price: <%= rest.price%></p>
      </div>
    </div>
  
  <div class="form">
          <form id="order" action="/neworder" method="post">
            <label><span>Name on Reservation:</span></label><input type="text" name="guestname" value=<%= user.lname%> required/> 
            <label><span>Guest Number:</span></label><input type="text" name="guest" value=<%= guest%> readonly/> 
            <label><span>Date:</span></label><input type="text" name="date" value=<%= date%>  readonly/>
            <label><span>Time:</span></label><input type="text" name="email" value= <%= table.time%> readonly/>
            <input type="text" name="userID" value= <%= user._id%> hidden/>
            <input type="text" name="restID" value= <%= rest._id%> hidden/>
            <input type="text" name="tableID" value= <%= table._id%> hidden/>
            <p><input type="submit" value="Make Reservation" /></p>
          </form>
      </div>
  

  </body>
  
</html>
