<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>    
    <h1>
      Student Information Display
    </h1>
    <ul>
      <li> Name: <em><%= student.name %> </em></li>
      <li> Id: <em><%= student.studentID %> </em></li>
      <li> Major: <em><%= student.major %> </em></li>
      <li> GPA: <em><%= student.gpa %> </em></li>
      
      <li>Classes:</li>
      <ol>
      <%  student.classes.forEach(oneClass=>{ %>
            <li><%= oneClass.name %></li>
      <%  }) %>
      </ol>
    </ul>
  </body>
</html>